# Ignorar archivos grandes y binarios
*.iso
*.img
*.qcow2
*.vmdk
*.vdi

# Ignorar carpetas temporales
/tmp/
nohup.out
workspace/
iso/

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
*.log

# Ignorar archivos del entorno local
.env
